<div class="center">
  <ion-card class="ion-activatable ripple-parent">
    <ion-card-header>
      <ion-card-subtitle>Terms and Conditions</ion-card-subtitle>
      <ion-card-title>Details & Blooms</ion-card-title>
    </ion-card-header>

    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div>

<ion-content>
  <ion-card class="ion-activatable ripple-parent">
    <!-- <div class="right">
      <ion-icon style="font-size: 20px" name="pencil-outline"></ion-icon>
    </div> -->
    <ion-card-content>
      <ion-card-subtitle
        style="margin-top: 5%; text-align: justify; text-justify: inter-word"
      >
        By accessing and placing order using Details & Blooms, you confirm that
        you are in agreement with and bound by the terms of service contained in
        the Terms & Conditions outlined below. These terms apply to the entire
        website and any email or other type of communication between you and
        Details & Blooms.
      </ion-card-subtitle>

      <ion-card-subtitle
        style="margin-top: 5%; text-align: justify; text-justify: inter-word"
      >
        Under no Circumstances shall Details & Blooms team be liable for any
        direct, indirect, special, incidental or consequential damages,
        including, but not limited to, loss of data or profit, arising out of
        the use, or the inability to use, the materials on this site, even if
        Details & Blooms team or an authorized representative has been advised
        of the possibility of such damages. If your use of materials from this
        site results in the need for servicing, repair or correction of
        equipment or data, you assume any costs thereof. Details & Blooms will
        not be responsible for any outcome that may occur during the course of
        usage of our resources. We reserve the rignts to change prices and
        revise the resources usage policy in any moment.</ion-card-subtitle
      >

      <br />

      <h2>Disclaimer</h2>
      <ion-card-subtitle
        style="margin-top: 5%; text-align: justify; text-justify: inter-word"
      >
        We are not responsible for any content, code or any other imprecision.
        We do not provide warranties or guarantees. In no event shall we be
        liable for any special, direct, indirect, consequential, or incidental
        damages or any damages whatsoever, whether in an action of contract,
        negligence or other tort, arising out of or in connection with the use
        of the Service or the contents of the Service. We reserve the right to
        make additions, deletions, or modifications to the contents on the
        Service at any time without prior notice.
      </ion-card-subtitle>

      <ion-card-subtitle
        style="margin-top: 5%; text-align: justify; text-justify: inter-word"
      >
        We are not responsible for any content, code or any other imprecision.
        We do not provide warranties or guarantees. In no event shall we be
        liable for any special, direct, indirect, consequential, or incidental
        damages or any damages whatsoever, whether in an action of contract,
        negligence or other tort, arising out of or in connection with the use
        of the Service or the contents of the Service. We reserve the right to
        make additions, deletions, or modifications to the contents on the
        Service at any time without prior notice.
      </ion-card-subtitle>
      <br />
      <div>
        <small>Gordon College, Olongapo City</small>
        <br />

        <small
          >Do not hesitate to contact us via EMAIL: bloompod2k21@gmai.com</small
        >
      </div>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</ion-content>
