<!-- <ion-content>
  <img
    src="../../assets/icon/bg1.png"
    style="width: 200%; position: absolute; z-index: -1; opacity: 0.3"
    alt=""
  />
  <form ngNativeValidate (submit)="onSubmit($event)">
    <div class="login-section ion-padding">
      <div class="top">
        <img
          src="../../assets/icon/Bloom.png"
          style="width: 200%"
          alt="Bloom Pod"
        /><br />
      </div>
      <br />
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-item style="width: 100%; margin: auto" lines="none">
            <mat-form-field
              class="full-width"
              appearance="outline"
              style="width: 125%"
            >
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}"
                required
              />
            </mat-form-field>
          </ion-item>
          <ion-item style="width: 100%; margin: auto" lines="none">
            <mat-form-field
              class="full-width"
              appearance="outline"
              style="width: 125%"
            >
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="passwordType"
                [(ngModel)]="password"
                [ngModelOptions]="{standalone: true}"
                required
              />
              <mat-icon
                class="passwordIcon"
                (click)="hideShowPassword()"
                matSuffix
                >{{ passwordIcon }}</mat-icon
              >
            </mat-form-field>
          </ion-item>
        </div>

        <div class="action-button ion-padding">
          <ion-button
            style="width: 100%; margin: auto; background-color: #6e5b98"
            expand="block"
            type="submit"
            >LOGIN</ion-button
          >
          <hr />
          <ion-button
            style="width: 100%; margin: auto"
            expand="block"
            fill="outline"
            (click)="navReg()"
            routerDirection="root"
            >REGISTER</ion-button
          >
        </div>
      </div>
    </div>
  </form>
</ion-content> -->

<ion-card-header>
  <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
</ion-card-header>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img
            src="../../../assets/icon/Bloom1.png"
            class="brand_logo"
            alt="Logo"
          />
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form ngNativeValidate (submit)="onSubmit($event)">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"
                ><ion-icon
                  name="at-circle-outline"
                  style="font-size: 25px"
                ></ion-icon
              ></span>
            </div>
            <input
              type="email"
              name=""
              class="form-control input_user"
              value=""
              placeholder="Email"
              [(ngModel)]="email"
              [ngModelOptions]="{standalone: true}"
              required
            />
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"
                ><ion-icon name="key-outline" style="font-size: 25px"></ion-icon
              ></span>
            </div>
            <input
              [type]="passwordType"
              name=""
              class="form-control input_pass"
              value=""
              placeholder="Password"
              [(ngModel)]="password"
              [ngModelOptions]="{standalone: true}"
              required
            />
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              (change)="onChange()"
              [(ngModel)]="checkBox"
              [ngModelOptions]="{standalone: true}"
            />
            <small
              ><label class="form-check-label" for="flexCheckDefault">
                Show Password
              </label></small
            >
          </div>

          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">
              Login
            </button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account?
          <a (click)="navReg()" class="ml-2">Create Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
