.ripple-parent {
  position: relative;
  overflow: hidden;
}
.center {
  // margin: auto;
  // border: 3px solid green;
  // padding: 10px;
  font-family: "Inter";
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  // display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  //   width: 400px;
  /* Whatever width you want */
}

ion-icon {
  --ion-margin-left: auto;
  --ion-margin-right: auto;
  text-align: center;
}

ion-card {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.card1 {
  border-radius: 25px;

  background: #49d443;
}

.t1 {
  background: -webkit-linear-gradient(
    307.03deg,
    #44dcb6 17.31%,
    #49d443 70.52%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ion-button {
  --background: #44dcb6;
}

* {
  color: #08595e;
}
