<div class="center">
  <ion-card
    class="ion-activatable ripple-parent"
    style="background: #00c4cc; color: white"
  >
    <ion-card-header>
      <ion-card-subtitle style="color: #08595e"
        >To Determine Your Flower Arrangement</ion-card-subtitle
      >
      <ion-card-title style="color: #08595e"
        >PLEASE CHOOSE AN OPTION BELOW</ion-card-title
      >
    </ion-card-header>

    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div>

<ion-content>
  <div class="outer" style="margin-top: 15%">
    <div class="middle">
      <div class="inner">
        <ion-grid>
          <ion-row style="height: 200px">
            <ion-card
              color="primary"
              class="card1 ion-activatable ripple-parent"
              (click)="gotoQuick()"
            >
              <ion-card-header>
                <img
                  src="../../assets/icon/detailsnblooms.png"
                  style="width: 60%; position: absolute; margin-left: 50%"
                />
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title style="margin: auto; text-align: center"
                  >Florist Choice (Preferred)</ion-card-title
                >
              </ion-card-header>

              <ion-card-content>
                <span
                  >Beautiful Flower Bouquets Designed by the Details & Blooms'
                  Skilled Florist will Astound and Delight you.</span
                >
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-row>

          <ion-row style="margin: auto; height: 50px">
            <ion-card
              color="primary"
              class="card1 ion-activatable ripple-parent"
              (click)="gotoCustom()"
            >
              <ion-card-header>
                <img
                  src="../../assets/icon/detailsnblooms.png"
                  style="width: 60%; position: absolute; margin-left: 50%"
                />
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title style="margin: auto; text-align: center"
                  >Customize</ion-card-title
                >
              </ion-card-header>
              <ion-card-content style="text-align: center">
                <span>Make your Flower Bouquet Unique.</span>
              </ion-card-content>

              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
