<ion-content>
  <div class="area">
    <ul class="circles">
      <li><div class="flower"></div></li>
      <li><div class="flower"></div></li>
      <li><div class="flower"></div></li>
      <li><div class="flower"></div></li>
      <li><div class="flower"></div></li>
      <li><div class="flower"></div></li>
      <li><div class="flower"></div></li>
      <li><div class="flower"></div></li>
      <li><div class="flower"></div></li>
      <li><div class="flower"></div></li>
    </ul>
    <div id="container">
      <div class="box">
        <h3 class="explorer" style="text-align: center">CHOOSE A MODE</h3>

        <div class="cards">
          <article class="card triple-cards" (click)="gotoQuick()">
            <a>
              <div class="card-content">
                <h2 class="card-title">Florist Choice (Preferred)</h2>
                <p class="card-excerpt">
                  Beautiful Flower Bouquets Designed by the Details & Blooms'
                  Skilled Florist will Astound and Delight you
                </p>
              </div>
            </a>
          </article>

          <article class="card triple-cards" (click)="gotoCustom()">
            <a>
              <div class="card-content">
                <h2 class="card-title">Customize</h2>
                <p class="card-excerpt">Make your Flower Bouquet Unique</p>
              </div>
            </a>
          </article>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="ripple-background">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle mediun shade4"></div>
    <div class="circle small shade5"></div>
  </div> -->
</ion-content>
