.product-item {
  .product-item-content {
    overflow: visible;
    // border: 1px solid var(--surface-d);
    // background: #f3f3f3;
    border-radius: 1.5rem;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;

    h4 {
      color: #08595e;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .product-image {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px 15px 0px 0px;
    // position: absolute;
  }

  .button-below {
    button {
      background: #00c4cc;
      font-weight: 700;
      color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    font-size: 4vw;
    text-transform: uppercase;
    font-family: "bebas";
  }
}
.box {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
}
.box h1 {
  // font-family: Liberal;
  font-style: normal;
  margin: 10px 0;
  color: inherit;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
}
.cards {
  // margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.card {
  width: 32%;
  padding: 15px 10px;
  border-radius: 3px;
  transition: transform 0.3s;
}

.triple-cards {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 10%;
  border: none;
}
.card a {
  color: inherit;
  text-decoration: none;
}

.card-title {
  margin: 5px 0;
  font-size: 2rem;
  letter-spacing: 1px;

  font-family: "bebas";
}
.card-excerpt {
  font-size: 2vh;
  padding-top: 5%;
}
.card:hover {
  box-shadow: rgb(195, 157, 204, 0.25) 0px 54px 55px,
    rgba(195, 157, 204, 0.12) 0px -12px 30px,
    rgba(195, 157, 204, 0.12) 0px 4px 6px,
    rgba(195, 157, 204, 0.17) 0px 12px 13px,
    rgba(195, 157, 204, 0.09) 0px -3px 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.card-title {
  text-transform: uppercase;
}

#services {
  text-align: center;
  margin-top: 2rem;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px Lato, sans-serif;
  color: rgb(17, 17, 17);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    font-size: 4vw;
    text-transform: uppercase;
    font-family: "bebas";
  }
}
.box {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
}
.box h1 {
  // font-family: Liberal;
  font-style: normal;
  margin: 10px 0;
  color: inherit;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-align: center;
}

.cards {
  // margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.card {
  padding: 15px 10px;
  border-radius: 3px;
  transition: transform 0.3s;

  margin-bottom: 20px;
  width: 80%;
}

.triple-cards {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 10%;
  border: none;
}
.card a {
  color: inherit;
  text-decoration: none;
}
.card-thumb {
  width: 100%;

  img {
    padding: 10px;
    color: "white";
    background-color: #dee2f6;
  }
}
.card-thumb img {
  width: 80px;
}
.card-title {
  margin: 5px 0;
  font-size: 2rem;
  letter-spacing: 1px;

  font-family: "bebas";
}
// .card-excerpt {
//   font-size: 0.5rem;
//   padding-top: 5%;
// }
.card:hover {
  box-shadow: rgb(195, 157, 204, 0.25) 0px 54px 55px,
    rgba(195, 157, 204, 0.12) 0px -12px 30px,
    rgba(195, 157, 204, 0.12) 0px 4px 6px,
    rgba(195, 157, 204, 0.17) 0px 12px 13px,
    rgba(195, 157, 204, 0.09) 0px -3px 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.product-item:hover {
  box-shadow: rgb(195, 157, 204, 0.25) 0px 54px 55px,
    rgba(195, 157, 204, 0.12) 0px -12px 30px,
    rgba(195, 157, 204, 0.12) 0px 4px 6px,
    rgba(195, 157, 204, 0.17) 0px 12px 13px,
    rgba(195, 157, 204, 0.09) 0px -3px 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.card-title {
  text-transform: uppercase;
}

//Responsive UI

@media screen and (max-width: 450px) {
  .showcase {
    color: rgb(2, 34, 12);
    background-color: none;
    text-align: center;
    padding: 5px 8px;
    text-align: justify;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px Lato, sans-serif;
    color: rgb(17, 17, 17);
  }

  #line-style {
    width: 100%;
    text-align: center;

    margin: 3rem 10px 2rem 10px;
    margin-top: 10rem;
  }

  #line-style span {
    background: #f3f8fc;
    text-align: center;
    padding: 0 10px;
  }

  .explorer {
    font-size: 10vw;
    font-family: "bebas";
    white-space: normal;
  }
}

@media screen and (min-width: 451px) {
  #services {
    text-align: center;
    margin-top: 5rem;
  }

  .box h2 {
    font-size: 4rem;
  }

  .box p {
    font-size: 1.5rem;
  }
  .cards {
    justify-content: center;
  }
  .card {
    margin-bottom: 20px;
    width: 90%;
  }

  .explorer {
    font-size: 7vw;
    font-family: "bebas";
    white-space: normal;
  }

  .top-header {
    position: relative;
    text-align: center;
    height: 60vh;
    width: 100%;
    background: linear-gradient(to top, #c39cddcc, #e3f0ff),
      url(../../assets/icon/header1.jpg) no-repeat top center;
    border-top: none;

    .top-image {
      width: 100%;
      opacity: 0.5;
    }

    /* Centered text */
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #000000;

      .large-button {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
      }

      .large-button:hover {
        background-color: #169e1b; /* Green */
        color: white;
      }
    }
  }
}

ion-content {
  // --background: rgba(0, 196, 204, 0.3);

  --overflow: hidden;
}

.area {
  // background: rgba(78, 84, 200, 0.5);
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  // width: 20px;
  // height: 20px;
  // background: rgba(78, 84, 200, 0.5);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;

  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

.circles li:nth-child(2) {
  left: 10%;
  // width: 20px;
  // height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

.circles li:nth-child(3) {
  left: 70%;
  // width: 20px;
  // height: 20px;
  animation-delay: 4s;
  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

.circles li:nth-child(4) {
  left: 40%;
  // width: 60px;
  // height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

.circles li:nth-child(5) {
  left: 65%;
  // width: 20px;
  // height: 20px;
  animation-delay: 0s;
  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

.circles li:nth-child(6) {
  left: 75%;
  // width: 110px;
  // height: 110px;
  animation-delay: 3s;
  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

.circles li:nth-child(7) {
  left: 35%;
  // width: 150px;
  // height: 150px;
  animation-delay: 7s;
  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

.circles li:nth-child(8) {
  left: 50%;
  // width: 25px;
  // height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

.circles li:nth-child(9) {
  left: 20%;
  // width: 15px;
  // height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

.circles li:nth-child(10) {
  left: 85%;
  // width: 150px;
  // height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  .flower {
    width: 80px;
    height: 25px;
    background-color: #00c4cc;
    border-radius: 50px;
  }
  .flower::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(60deg);
  }
  .flower::after {
    content: "";
    display: block;
    width: 80px;
    height: 25px;
    background: #00c4cc;
    border-radius: 50px;
    transform: rotate(-60deg);
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
