<div class="center">
  <ion-card
    class="ion-activatable ripple-parent"
    style="background: #00c4cc; color: white"
    (click)="about()"
  >
    <div class="right">
      <ion-icon style="font-size: 30px" name="help-circle"></ion-icon>
    </div>
    <ion-card-header style="color: #08595e">
      <ion-card-subtitle style="color: #08595e">{{greet}},</ion-card-subtitle>
      <ion-card-title style="color: #08595e">{{username}}</ion-card-title>
      <!-- <small>{{address}}</small> -->
    </ion-card-header>

    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div>

<ion-content>
  <!-- <div class="outer">
    <div class="middle">
      <div class="inner">
        <ion-grid>
          <ion-row>
            <ion-card color="primary" class="card1">
              <ion-card-header>
                <img
                  src="../../assets/icon/detailsnblooms.png"
                  style="width: 60%; position: absolute; margin-left: 50%"
                />
                <ion-card-subtitle>DETAILS & BLOOMS</ion-card-subtitle>
                <ion-card-title>System Benefeciary</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Details & Blooms Events and Flowers provides assistance to event
                needs and cater to flower arrangements and styling requirements
                for all occasions.
              </ion-card-content>
            </ion-card>
          </ion-row>
          <ion-row>
            <ion-card color="primary" class="card1">
              <ion-card-header>
                <img
                  src="../../assets/icon/detailsnblooms.png"
                  style="width: 60%; position: absolute; margin-left: 50%"
                />
                <ion-card-subtitle>DETAILS & BLOOMS</ion-card-subtitle>
                <ion-card-title>Physical Store Details</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Details & Blooms can be found within Harbor Point Mall at the
                Ground Flr. (near the Activity Center), Subic Bay Freeport Zone
                or contact us at
                <b>0915-424-0028</b>.
              </ion-card-content>
            </ion-card>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div> -->

  <div class="mt-2 mb-2" style="position: relative">
    <div
      style="
        color: rgb(2, 34, 12);
        background-color: none;
        text-align: center;

        text-align: justify;
      "
    >
      <h3 class="mb-5" id="line-style" style="text-align: center">
        <span>Available Flowers</span>
      </h3>
      <div style="text-align: center; margin: 0; padding: 0">
        <ng-image-slider
          #nav
          [images]="order_flowers"
          [infinite]="true"
          [autoSlide]=".5"
          slideImage=".5"
        ></ng-image-slider>
      </div>
    </div>
  </div>

  <div
    class="mt-2 mb-2"
    style="
      color: rgb(2, 34, 12);
      background-color: none;
      text-align: center;
      text-align: justify;
    "
  >
    <h3 class="mb-5" id="line-style" style="text-align: center">
      <span>Florists Choice</span>
    </h3>
    <div style="text-align: center; margin: 0; padding: 0">
      <ng-image-slider
        #nav
        style="cursor: pointer"
        [images]="orders"
        [infinite]="true"
        [autoSlide]=".5"
        slideImage=".5"
        [animationSpeed]="2"
        [manageImageRatio]="true"
        [imagePopup]="false"
        (imageClick)="bouquet_click($event)"
      ></ng-image-slider>
    </div>
  </div>
</ion-content>
