<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title
    style="padding: 0; text-align: center; font-family: 'bebas'; font-size: 6vh"
    >Checkout</ion-title
  >
</ion-toolbar>

<ion-content>
  <div class="container" style="padding-top: 3rem">
    <div
      class="alert alert-warning alert-dismissible fade show mt-3"
      role="alert"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
        viewBox="0 0 16 16"
        role="img"
        aria-label="Warning:"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      <strong>Note: </strong> For <strong> Delivery </strong> mode , We'll Add ₱
      50.00 for Convenience fee
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <label class="control-label" for="selectInput">Mode of Transaction</label>
    <select
      id="selectInput"
      class="select"
      aria-label="Determine Flower Quantity"
      (change)="onChange($event.target.value)"
    >
      <option selected value="Pick Up">Pick Up</option>
      <option value="Delivery">Delivery</option>
    </select>
  </div>

  <hr />
  <form ngNativeValidate *ngIf="mode == 'Delivery'" (submit)="onSubmit($event)">
    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label">Recipient's Name</label>
      <input type="text" class="select" required />
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label" class="control-label" for="selectInput"
        >Municipality</label
      >
      <select
        id="selectInput"
        class="select"
        aria-label="Determine Flower Quantity"
        (change)="change($event.target.value)"
      >
        <option selected value="Olongapo City">Olongapo City</option>
        <option value="Subic">Subic</option>
        <option value="Subic Bay Freeport Zone">Subic Bay Freeport Zone</option>
      </select>
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label">Address</label>
      <input type="text" class="select" placeholder="House No. St." required />
    </div>

    <div
      class="form-group required mx-auto mt-3"
      *ngIf="municipality != 'Subic Bay Freeport Zone'"
      style="width: 93%"
    >
      <label class="control-label" for="selectInput">Baranggay</label>
      <select
        id="selectInput"
        class="select"
        aria-label="Determine Flower Quantity"
        (change)="barangayChange($event.target.value)"
        [(ngModel)]="selectedValue"
        [ngModelOptions]="{standalone: true}"
        required
      >
        <option *ngFor="let barangay of barangays" [value]="barangay.name">
          {{barangay.name}}
        </option>
      </select>
    </div>

    <div
      class="form-group required mx-auto mt-3"
      *ngIf="municipality == 'Subic Bay Freeport Zone'"
      style="width: 93%"
    >
      <label class="control-label" for="selectInput">Baranggay</label>
      <input type="text" class="select" required disabled />
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label">Landmark</label>
      <input type="text" class="select" required />
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label">Contact Number of Recipient</label>
      <input type="number" minlength="11" class="select" required />
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label">Date of Delivery</label>
      <input type="date" class="select" required />
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label" for="selectInput">Time of Delivery</label>
      <select
        id="selectInput"
        class="select"
        aria-label="Determine Flower Quantity"
        (change)="timeChange($event.target.value)"
      >
        <option selected value="13:00">1pm</option>
        <option value="14:00">2pm</option>
        <option value="15:00">3pm</option>
        <option value="16:00">4pm</option>
        <option value="17:00">5pm</option>
        <option value="18:00">6pm</option>
      </select>
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label">Bouquet Message/Note</label>

      <textarea
        class="select"
        id="exampleFormControlTextarea1"
        maxlength="120"
        rows="3"
        required
      ></textarea>
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <ion-button expand="block" type="submit">Submit</ion-button>
    </div>

    <br />
  </form>

  <form
    ngNativeValidate
    *ngIf="mode == 'Pick Up'"
    (submit)="pickSubmit($event)"
  >
    <div class="form-group required required mx-auto mt-3" style="width: 93%">
      <label class="control-label">Date of Pick Up</label>
      <input type="date" class="select" required />
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label" for="selectInput">Time of Pickup</label>
      <select
        id="selectInput"
        class="select"
        aria-label="Determine Flower Quantity"
        (change)="timeChange($event.target.value)"
      >
        <option selected value="13:00">1pm</option>
        <option value="14:00">2pm</option>
        <option value="15:00">3pm</option>
        <option value="16:00">4pm</option>
        <option value="17:00">5pm</option>
        <option value="18:00">6pm</option>
      </select>
    </div>
    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label">Contact Number</label>
      <input type="number" minlength="11" class="select" required />
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <label class="control-label">Bouquet Message/Note</label>
      <textarea
        class="select"
        id="exampleFormControlTextarea1"
        maxlength="120"
        rows="3"
        required
      ></textarea>
    </div>

    <div class="form-group required mx-auto mt-3" style="width: 93%">
      <ion-button expand="block" type="submit">Submit</ion-button>
    </div>
    <br />
  </form>
</ion-content>
