.myColor {
  background-color: #44dcb6;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
ion-text {
  color: #737373;
}

ion-button {
  --background: #44dcb6;
}

* {
  color: #08595e;
}
