<div class="center">
  <ion-card class="ion-activatable ripple-parent">
    <ion-card-header>
      <ion-card-subtitle>Code Phoenix's</ion-card-subtitle>
      <ion-card-title>Details and Blooms</ion-card-title>
    </ion-card-header>

    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div>

<ion-content>
  <ion-card class="ion-activatable ripple-parent">
    <!-- <div class="right">
      <ion-icon style="font-size: 20px" name="pencil-outline"></ion-icon>
    </div> -->
    <ion-card-content>
      <ion-card-subtitle
        style="margin-top: 5%; text-align: justify; text-justify: inter-word"
      >
        A Flower Bouquet Arrangement Automator Using Progressive Web App
        Frameworks. In partial fulfillment for the thesis subject of
        proponents</ion-card-subtitle
      >
      <br />
      Developers
      <ul>
        <li>
          <ion-card-subtitle> Emmanuel John R. Rosqueta</ion-card-subtitle>
        </li>
        <li><ion-card-subtitle>Lorenzo G. Mora</ion-card-subtitle></li>
        <li>
          <ion-card-subtitle> Timothy Matthew A. Cortez</ion-card-subtitle>
        </li>
      </ul>

      <div>
        <small>Details & Blooms Events and Flowers</small>
        <br />
        <small>Gordon College, Olongapo City</small>
        <br />

        <small>All rights reserved 2021</small>
      </div>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</ion-content>
