/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
  font-family: "Inter"; //This is what we are going to call
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter-Semi"; //This is what we are going to call
  src: url("../src/assets/fonts/Inter-SemiBold.ttf");
}
@font-face {
  src: local("bebas"), url(./assets/fonts/bebas.ttf) format("truetype");
  font-family: "bebas";
}

.my-custom-class {
  font-family: "AppFont";
  font-size: 5vw;

  p {
    text-align: center;
  }
  button.alert-button {
  }
  message {
  }
}

.my-custom-class2 {
  .popover-content {
    width: 90%;
  }
}

.my-custom-class {
  font-family: "AppFont";
  font-size: 5vw;

  p {
    text-align: center;
  }
  button.alert-button {
  }
  .alert-wrapper {
    .alert-head {
      // header styling here eg. background

      h2 {
        // header text styling here eg. color, font size
      }
    }
    .alert-message {
    }
  }
}

.my-custom-class-login {
  // background-color: #44dcb6;
  // --background: #00c4cc;

  // color: white;
  font-family: "AppFont";
  font-size: 5vw;
  // color: white;
  p {
    text-align: center;
  }
  ion-img {
    margin: auto;
    width: 50%;
  }
}

.rotate {
  animation: rotation 2s infinite linear;
  margin: auto;
  width: 60%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
