<ion-content [fullscreen]="true">
  <ion-card-header>
    <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
  </ion-card-header>
  <br />

  <br />
  <!-- <div style="width: 90%; background-color: #fce3ea" class="card mx-auto">
    <form
      style="width: 95%; margin: auto"
      class="p-3"
      [formGroup]="registrationform"
      ngNativeValidate
      (submit)="onSubmit()"
    >
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="firstname"
          required
        />
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="lastname"
          required
        />
      </div>

      <div class="form-group">
        <label>Email address</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          required
        />
      </div>

      <div class="form-group">
        <label>Address</label>
        <input
          type="text"
          class="form-control"
          formControlName="address"
          required
        />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          required
        />
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          [(ngModel)]="checkBox"
          [ngModelOptions]="{standalone: true}"
        />
        <small
          ><label class="form-check-label" for="flexCheckDefault">
            I agree with BloomPod's Terms and Conditions
          </label></small
        >
      </div>

      <br />

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-info btn-lg btn-block w-100"
          [disabled]="!checkBox"
        >
          Submit
        </button>
      </div>

      <br />
    </form>
  </div> -->

  <!-- Register Design -->
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container">
            <img
              src="../../../assets/icon/Bloom1.png"
              class="brand_logo"
              alt="Logo"
            />
          </div>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form
            ngNativeValidate
            (submit)="onSubmit($event)"
            [formGroup]="registrationform"
          >
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"
                  ><ion-icon
                    name="person-outline"
                    style="font-size: 25px"
                  ></ion-icon
                ></span>
              </div>
              <input
                type="text"
                name=""
                class="form-control input_user"
                value=""
                formControlName="firstname"
                placeholder="Firstname"
                required
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"
                  ><ion-icon
                    name="person-outline"
                    style="font-size: 25px"
                  ></ion-icon
                ></span>
              </div>
              <input
                type="text"
                name=""
                class="form-control input_user"
                value=""
                formControlName="lastname"
                placeholder="Lastname"
                required
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"
                  ><ion-icon
                    name="home-outline"
                    style="font-size: 25px"
                  ></ion-icon
                ></span>
              </div>
              <input
                type="text"
                name=""
                class="form-control input_user"
                value=""
                formControlName="address"
                placeholder="Home Address"
                required
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"
                  ><ion-icon
                    name="at-circle-outline"
                    style="font-size: 25px"
                  ></ion-icon
                ></span>
              </div>
              <input
                type="email"
                name=""
                class="form-control input_user"
                value=""
                formControlName="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"
                  ><ion-icon
                    name="key-outline"
                    style="font-size: 25px"
                  ></ion-icon
                ></span>
              </div>
              <input
                [type]="passwordType"
                name=""
                class="form-control input_pass"
                value=""
                minlength="8"
                formControlName="password"
                placeholder="Password"
                required
              />
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault1"
                (change)="onChange()"
                [(ngModel)]="checkBox1"
                [ngModelOptions]="{standalone: true}"
              />
              <small
                ><label class="form-check-label" for="flexCheckDefault1">
                  Show Password
                </label></small
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                [(ngModel)]="checkBox"
                [ngModelOptions]="{standalone: true}"
              />
              <small
                ><label class="form-check-label" for="flexCheckDefault">
                  I have read and agree with Details & Blooms'
                  <a [routerLink]="" (click)="terms()">Terms and Conditions</a>
                </label></small
              >
            </div>

            <div class="d-flex justify-content-center mt-3 login_container">
              <button
                type="submit"
                name="button"
                class="btn login_btn"
                [disabled]="!checkBox"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
